.sidebar{
    position: fixed; 
    left: 0;       
    top: 0;        
    height: 100%;  
    width: 250px; 
    overflow-y: auto; 
    padding: 20px;
}

.sidebar ul {
  list-style-type: none;
}

.sidebar ul li{
    padding: 15px;
    border-top: 1px solid rgba(255,255,255,0.05);
}    
  
.sidebar ul li a{
  display: block;
  text-align: left;
  font-size: 24px;
}

.social_media {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding: 45px;
}

.social_media img {
    height: 35px;

}

.subheader {
  color: #595959;
  white-space: nowrap;
  display: inline;
}

.subheader:hover {
  color: black;
}

.header {
  color: #1a659e;
  white-space: nowrap;
  font-weight: bold;
}

.header:hover{
  color: #004e89;
}